@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  -webkit-app-region: drag;
}

a {
  text-decoration: none;
  color: white;
}

div:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.wrapper {
  text-align: center;
  padding-top: 110px;
}

.title {
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  padding-top: 10px;
}

.content {
  font-family: Inter, sans-serif;
  color: rgb(114, 114, 114);
  font-size: 14px;
  padding-top: 4px;
  line-height: 20px;
}

#home__button {
  background-color: #F9A974;
  margin-top: 18px;
  padding: 6px;
  width: 160px;
  height: 40px;
  border: none;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

#home__button:hover {
  background-color: #e99259;
  padding-bottom: 10px;
}

.orange {
  color: white;
}

.home__footer {
  font-family: Inter, sans-serif;
  color: #c9c9c9;
  font-size: 12px;
  margin-top: 80px;
}